In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm

In [2]:
# reading the CSV file into pandas dataframe
letter_df=pd.read_csv('letterdata.csv')

In [3]:
#check count of unique records in 'letter' column
letter_df['letter'].value_counts()

U    813
D    805
P    803
T    796
M    792
A    789
X    787
Y    786
N    783
Q    783
F    775
G    773
E    768
B    766
V    764
L    761
R    758
I    755
O    753
W    752
S    748
J    747
K    739
C    736
H    734
Z    734
Name: letter, dtype: int64

In [4]:
# Check top few records
letter_df.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [5]:
x,y=np.array(letter_df)[:,1:16],np.array(letter_df.letter)[:] # dependent and independnt variables from the data set

In [6]:
x.shape

(20000, 15)

In [7]:
y.shape

(20000,)

In [8]:
y

array(['T', 'I', 'D', ..., 'T', 'S', 'A'], dtype=object)

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)#split into test and train sets

In [10]:
#RBF SVM with optimized hyperparameters 'gamma' and 'C' So that misclassification rate is lower and also not tends to overfit.
clf=svm.SVC(gamma=0.025,C=10)#here gamma='Distance of influence of a single training point',C='Penalty parameter of the error term'

In [11]:
#fit the trainning data
clf.fit(x_train,y_train)

SVC(C=10, gamma=0.025)

In [12]:
clf.score(x_test,y_test)#accuracy

0.9658333333333333

In [13]:
y_pred=clf.predict(x_test)#prediction on test data
pd.crosstab(y_test,y_pred)#cross tabs to show out of total collected record how many are predicted correctly, that are shown here diagonally.

col_0,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
row_0,,,,,,,,,,,,,,,,,,,,,
A,232,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
B,0,233,0,1,1,0,0,1,0,1,...,0,0,2,0,0,1,0,0,0,0
C,0,0,224,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
D,0,1,0,222,0,1,1,2,0,0,...,0,3,0,0,0,0,0,0,0,0
E,0,0,0,0,210,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
F,0,0,0,0,1,212,0,0,2,0,...,0,0,0,0,0,1,0,0,0,0
G,0,1,2,0,7,0,214,0,0,0,...,0,0,0,0,0,1,2,0,0,0
H,0,1,0,6,0,0,1,218,0,0,...,0,2,0,0,2,0,0,0,0,0
I,0,0,0,0,0,3,0,0,190,4,...,0,0,0,0,0,0,0,1,0,0
J,0,0,0,0,0,0,1,1,10,188,...,0,0,0,0,0,0,0,0,0,0
K,0,2,0,2,0,0,0,3,0,0,...,0,3,0,0,0,0,0,1,0,0
L,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
M,0,3,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0
N,0,1,0,6,0,0,0,1,0,0,...,0,2,0,0,0,3,0,0,0,0
O,0,0,1,4,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
P,0,1,0,1,0,13,0,0,0,0,...,0,2,0,0,0,0,0,0,3,0
Q,0,0,0,0,0,0,0,0,0,0,...,232,0,0,0,0,0,0,0,0,1
R,0,5,0,2,1,0,0,1,0,0,...,1,201,0,0,0,0,0,0,0,0
S,0,0,0,0,1,0,0,0,0,0,...,0,1,252,0,0,0,0,0,0,1
T,0,0,0,0,4,0,0,0,0,0,...,0,0,0,247,0,0,0,0,0,0
U,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,238,0,0,0,0,0
V,0,5,0,0,0,1,0,0,0,0,...,0,0,0,0,0,211,0,0,0,0
W,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,227,0,0,0
X,0,1,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,233,0,0
Y,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,2,0,0,1,250,0
Z,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,233